<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Armas</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/personagens">Personagens</a></li>
        <li><a href="/racas">Raças</a></li>
        <li><a href="/classes">Classes</a></li>
        <li><a href="/armas">Armas</a></li>
        <li><a href="/armaduras">Armaduras</a></li>
        <li><a href="/magias">Magias</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <button onclick="history.back()">Voltar</button> <!-- Botão de Voltar -->
    <h1>Lista de Armas</h1>
    <ul>
      <% if (armas.length > 0) { %>
        <% armas.forEach(function(arma) { %>
          <li>
            <h2><%= arma.nome %></h2>
            <p><%= arma.descricao %></p>
            <p>Dano: <%= arma.dano %></p>
            <p>Tipo: <%= arma.tipo %></p>
            <a href="/armas/edit/<%= arma._id %>">Editar</a>
            <form action="/armas/<%= arma._id %>?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit">Deletar</button>
            </form>
          </li>
        <% }); %>
      <% } else { %>
        <li>Nenhuma arma encontrada.</li>
      <% } %>
    </ul>
    <a href="/armas/new">Adicionar Nova Arma</a>
  </main>
  <footer>
    <p>&copy; 2024 Criador de Personagens DnD</p>
  </footer>
</body>
</html>
