<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Armaduras</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/personagens">Personagens</a></li>
        <li><a href="/racas">Raças</a></li>
        <li><a href="/classes">Classes</a></li>
        <li><a href="/armas">Armas</a></li>
        <li><a href="/armaduras">Armaduras</a></li>
        <li><a href="/magias">Magias</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <button onclick="history.back()">Voltar</button> <!-- Botão de Voltar -->
    <h1>Lista de Armaduras</h1>
    <ul>
      <% if (armaduras.length > 0) { %>
        <% armaduras.forEach(function(armadura) { %>
          <li>
            <h2><%= armadura.nome %></h2>
            <p><%= armadura.descricao %></p>
            <p>Defesa: <%= armadura.defesa %></p>
            <p>Tipo: <%= armadura.tipo %></p>
            <a href="/armaduras/edit/<%= armadura._id %>">Editar</a>
            <form action="/armaduras/<%= armadura._id %>?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit">Deletar</button>
            </form>
          </li>
        <% }); %>
      <% } else { %>
        <li>Nenhuma armadura encontrada.</li>
      <% } %>
    </ul>
    <a href="/armaduras/new">Adicionar Nova Armadura</a>
  </main>
  <footer>
    <p>&copy; 2024 Criador de Personagens DnD</p>
  </footer>
</body>
</html>
