<%- include('layout', { body: `
    <h1>Detalhes do <%= title %></h1>
    <p>Nome: <%= item.nome %></p>
    <p>Descrição: <%= item.descricao %></p>
    <a href="<%= itemUrl %>/edit/<%= item._id %>">Editar</a>
    <form action="<%= itemUrl %>/<%= item._id %>?_method=DELETE" method="POST">
      <button type="submit">Deletar</button>
    </form>
  ` }) %>
  